/* -----common css start------ */
.main-block .custom-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
}
.main-block .section-heading-block {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.main-block .section-heading-block .section-heading-text {
  color: #1e1c1c;
  text-align: center;
  font-size: 50px;
  font-family: Ubuntu;
  font-weight: 700;
  text-transform: uppercase;
}
.main-block .section-heading-block .head-text-underline {
  display: flex;
  width: 15%;
  align-items: center;
  justify-content: center;
  height: 5px;
  background-color: var(--primary-color);
}
.main-block .shop-btn {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  padding: 14px 53px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 20px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 400;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.main-block .shop-btn:hover {
  transform: scale(0.98);
  opacity: 0.9;
}
/* -----common css end------ */

/* ------- hero section css start ------- */
.main-block .hero-section {
  width: 100%;
  padding: 0;
  margin: 0;
}
.main-block .hero-section .banner-img {
  object-fit: cover;
  object-position: right;
  width: 100%;
}
/* ------- hero section css end ------- */

/* ------- category section css start ------- */
.main-block .category-section {
  width: 100%;
  background-color: var(--dark-bg);
}
.category-section .content {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 50px 0;
  width: 100%;
}
.category-section .content .product-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  gap: 35px;
  border-right: 1px solid #fff;
}
.category-section .content .product-box.no-border {
  border-right: none;
}
.category-section .content .product-box .image-block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.category-section .content .product-box .product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.category-section .content .product-box .product-details h5 {
  color: #fff;
  font-size: 36px;
  font-family: Ubuntu;
  font-weight: 500;
}
/* ------- category section css end ------- */

/* ------- product section css start ------- */
.main-block .our-product-section {
  width: 100%;
  background-color: #fff;
  padding: 100px 0;
}
.main-block .our-product-section .product-list-part {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 25px;
  gap: 15px;
}
.our-product-section .product-list-part .product-types {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.our-product-section .product-list-part .product-types .types {
  color: #928f8f;
  font-size: 28px;
  font-family: Ubuntu;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.our-product-section .product-list-part .product-types .types::after {
  content: "";
  display: inline-flex;
  height: 24px;
  width: 3px;
  background-color: #928f8f;
  margin-left: 15px;
}
.our-product-section .product-list-part .product-types .types.last::after {
  display: none;
}
.our-product-section .product-list-part .product-types .types.type-active {
  color: #1e1c1c;
}
.our-product-section
  .product-list-part
  .product-types
  .types.type-active::after {
  background-color: #1e1c1c;
}
.our-product-section .product-list-part .list-block {
  display: flex;
  width: 100%;
  gap: 20px;
}
.our-product-section .product-list-part .list-block .owl-carousel {
  height: 100%;
}
.our-product-section
  .product-list-part
  .list-block
  .owl-carousel
  .owl-stage-outer {
  height: 900px;
}
.our-product-section .product-list-part .list-block .owl-carousel .owl-dots {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.our-product-section
  .product-list-part
  .list-block
  .owl-carousel
  button.owl-dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #d9d9d9;
}
.our-product-section
  .product-list-part
  .list-block
  .owl-carousel
  button.owl-dot.active {
  background-color: var(--primary-color);
}
.our-product-section .product-list-part .list-block .item-box {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  height: 850px;
  min-height: 850px;
  max-height: 850px;
  padding: 8px 8px 16px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  transition: all ease 0.3s;
}
.our-product-section .product-list-part .list-block .item-box:hover {
  box-shadow: 7px 12px 15px 0px rgba(0, 0, 0, 0.2);
}
.our-product-section .product-list-part .list-block .item-box .image-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.our-product-section .product-list-part .list-block .item-box .image-block img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.our-product-section .product-list-part .list-block .item-box .desc-part {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}
.our-product-section
  .product-list-part
  .list-block
  .item-box
  .desc-part
  .desc-text {
  color: #393939;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 400;
  letter-spacing: -0.3px;
  text-transform: capitalize;
}
.our-product-section
  .product-list-part
  .list-block
  .item-box
  .desc-part
  .price-part {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}
.our-product-section
  .product-list-part
  .list-block
  .item-box
  .desc-part
  .price-part
  span {
  color: #393939;
  font-size: 24px;
  font-family: Ubuntu;
  font-weight: 400;
  letter-spacing: -0.36px;
  text-transform: capitalize;
}
/* ------- product section css end ------- */
/* ------- customer review section css start ------- */
.main-block .customer-review {
  width: 100%;
  height: 760px;
}
.main-block .customer-review .content-part {
  display: flex;
  width: 100%;
  height: 100%;
}
.main-block .customer-review .content-part .left-part {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--light-bg);
}
.main-block .customer-review .content-part .right-part {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-bg);
}
.customer-review .content-part .right-part .review-box {
  display: flex;
  width: 70%;
  flex-direction: column;
  padding: 35px 30px;
  gap: 60px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 7px 12px 15px 0px rgba(0, 0, 0, 0.2);
  margin-left: -620px;
}
.customer-review .right-part .review-box .client-info {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 30px;
}
.customer-review .right-part .review-box .client-info .desc-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.customer-review .right-part .review-box .client-info .desc-block h6 {
  text-align: center;
  font-size: 30px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 700;
  color: var(--primary-color);
}
.customer-review .right-part .review-box .client-info .desc-block p {
  color: #000;
  text-align: left;
  font-size: 22px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
}
.customer-review .right-part .review-box .client-comments {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 60px;
}
.customer-review .right-part .review-box .client-comments p {
  color: #000;
  font-size: 24px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
}

.customer-review .left-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.customer-review .left-part .customer-say {
  text-align: center;
  font-size: 50px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}

.customer-review .left-part .button-part {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
}
.customer-review .left-part .button-part .prev-btn,
.customer-review .left-part .button-part .next-btn {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 38px;
  font-size: 24px;
  background-color: var(--primary-color);
  color: #fff;
}
.customer-review .left-part .button-part .prev-btn {
  margin-right: 5px;
}
.customer-review .left-part .button-part .next-btn {
  margin-left: 5px;
}
.customer-review .left-part .button-part span {
  display: inline-flex;
  width: 70px;
  height: 1px;
  background-color: #000;
}

/* ------- customer review section css end ------- */
/* ------- blog post section css start ------- */
.main-block .blog-post-section {
  width: 100%;
  padding: 100px 0;
}
.blog-post-section .blog-list-part {
  display: flex;
  flex: 1 1 auto;
  padding-top: 100px;
}
.blog-post-section .blog-list-part .blog-card {
  display: flex;
  flex: 1;
  height: 870px;
  min-height: 870px;
  max-height: 870px;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 30px;
  gap: 20px;
}
.blog-post-section .blog-list-part .blog-card:hover {
  box-shadow: 7px 12px 15px 0px rgba(0, 0, 0, 0.2);
}
.blog-post-section .blog-card .blog-content-part {
  display: flex;
  width: 100%;
  height: 595px;
  min-height: 595px;
  max-height: 595px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.blog-post-section .blog-list-part .blog-card .blog-content-part .image-part {
  display: flex;
  width: 100%;
  height: 515px;
  align-items: flex-start;
  justify-content: flex-start;
}
.blog-post-section
  .blog-list-part
  .blog-card
  .blog-content-part
  .image-part
  img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.blog-post-section .blog-card .blog-content-part .blog-title {
  font-size: 24px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 700;
  color: var(--primary-color);
  text-align: left;
}
.blog-post-section .blog-card .blog-details {
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
}
.blog-post-section .blog-card .blog-details .blog-text {
  color: #000;
  font-size: 24px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
  text-transform: capitalize;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blog-post-section .blog-card .blog-details .button-part {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.blog-post-section .blog-card .blog-details .button-part .read-more-btn {
  color: #28a5d8;
  font-size: 22px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.33px;
  text-transform: capitalize;
  text-decoration: none;
}
.blog-post-section .blog-card .blog-details .blog-date {
  color: #adadad;
  font-size: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.3px;
  text-transform: capitalize;
}
.blog-post-section .blog-list-part .owl-carousel .owl-stage-outer {
  height: 900px;
}
.blog-post-section .blog-list-part .owl-carousel .owl-dots {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.blog-post-section .blog-list-part .owl-carousel button.owl-dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #d9d9d9;
}
.blog-post-section .blog-list-part .owl-carousel button.owl-dot.active {
  background-color: var(--primary-color);
}
/* ------- blog post section css end ------- */

/* --------- responsive css start --------- */

@media screen and (max-width: 1600px) {
  .category-section .content .product-box .product-details h5 {
    font-size: 30px;
  }
  .main-block .shop-btn {
    padding: 10px 43px;
  }
  .our-product-section .product-list-part .list-block .item-box {
    height: 765px;
    min-height: 765px;
    max-height: 765px;
  }
  .our-product-section
    .product-list-part
    .list-block
    .owl-carousel
    .owl-stage-outer {
    height: 815px;
  }
  .customer-review .content-part .right-part .review-box {
    margin-left: -480px;
  }

  .customer-review .right-part .review-box .client-info .desc-block p {
    font-size: 18px;
  }

  .customer-review .right-part .review-box .client-comments p {
    font-size: 20px;
  }
  .customer-review .right-part .review-box .client-info .image-block {
    width: 20%;
  }
  .customer-review .right-part .review-box .client-info .image-block img {
    width: 100%;
  }
}

@media screen and (max-width: 1440px) {
  .main-block .section-heading-block .section-heading-text {
    font-size: 42px;
  }

  .main-block .section-heading-block .head-text-underline {
    width: 12%;
  }

  .our-product-section .product-list-part .product-types .types {
    font-size: 24px;
  }
  .our-product-section .product-list-part .list-block .item-box {
    height: 690px;
    min-height: 690px;
    max-height: 690px;
    gap: 20px;
  }
  .our-product-section
    .product-list-part
    .list-block
    .item-box
    .desc-part
    .desc-text {
    font-size: 18px;
  }
  .our-product-section
    .product-list-part
    .list-block
    .item-box
    .desc-part
    .price-part
    span {
    font-size: 22px;
  }
  .our-product-section
    .product-list-part
    .list-block
    .owl-carousel
    .owl-stage-outer {
    height: 740px;
  }
  .main-block .shop-btn {
    font-size: 18px;
  }
  .our-product-section
    .product-list-part
    .list-block
    .owl-carousel
    button.owl-dot,
  .blog-post-section .blog-list-part .owl-carousel button.owl-dot {
    height: 16px;
    width: 16px;
  }
  .customer-review .left-part .customer-say {
    font-size: 42px;
    line-height: 54px;
  }
  .customer-review .left-part .button-part .prev-btn,
  .customer-review .left-part .button-part .next-btn {
    width: 36px;
    height: 30px;
    font-size: 20px;
  }
  .customer-review .left-part .button-part span {
    width: 60px;
  }
  .customer-review .content-part .right-part .review-box {
    margin-left: -450px;
    gap: 45px;
    padding: 30px;
  }
  .customer-review .right-part .review-box .client-comments {
    margin-bottom: 40px;
  }
  .main-block .customer-review {
    height: 680px;
  }
  .customer-review .right-part .review-box .client-info .desc-block h6 {
    font-size: 26px;
  }
  .blog-post-section .blog-list-part .blog-card {
    height: 670px;
    min-height: 670px;
    max-height: 670px;
    padding: 25px;
  }
  .blog-post-section .blog-list-part .blog-card .blog-content-part .image-part {
    height: 360px;
  }
  .blog-post-section .blog-card .blog-content-part {
    min-height: 420px;
    height: 420px;
    max-height: 420px;
    gap: 15px;
  }
  .blog-post-section .blog-list-part .owl-carousel .owl-stage-outer {
    height: 720px;
  }
  .blog-post-section .blog-list-part {
    padding-top: 70px;
  }
  .blog-post-section .blog-card .blog-content-part .blog-title {
    font-size: 18px;
  }
  .blog-post-section .blog-card .blog-details .blog-text {
    font-size: 18px;
  }
  .blog-post-section .blog-card .blog-details .button-part .read-more-btn {
    font-size: 18px;
  }
  .blog-post-section .blog-card .blog-details .blog-date {
    font-size: 16px;
  }
}

@media screen and (max-width: 1281px) {
  .category-section .content .product-box .product-details h5 {
    font-size: 24px;
  }
  .main-block .shop-btn{
    padding: 10px 33px;
  }
  .our-product-section .product-list-part .list-block .item-box{
    height: 640px;
    min-height: 640px;
    max-height: 640px;
  }
  .our-product-section .product-list-part .list-block .item-box .desc-part .desc-text{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .our-product-section .product-list-part .list-block .owl-carousel .owl-stage-outer{
    height: 690px;
  }
  .customer-review .content-part .right-part .review-box{
    margin-left: -300px;
  }
  .customer-review .content-part .right-part .review-box{
    width: 85%;
  }
  .customer-review .left-part .customer-say{
    font-size: 36px;
    line-height: 48px;
  }
}
